@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



body {
	padding: 0;
    position: absolute;
    margin: 0;
    font-size: 13px;
    color: #494949;
    background: #e6e6e6;
    font-family: 'Nanum Gothic', serif;
    transform: translate(-50%,50%);
    left: 50%;
}

.login_box {
	line-height: 30px;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #999;
    background: #fff;
	padding-top: 88px;
}

.lg_ip_box {
	width: 300px;
    margin: 0 auto;
	font-size: 15px;
}
.tit_txt {
	text-align: center;
    color: #f35429;
    font-size: 50px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    text-decoration: underline;
    border: 1px solid #f35429;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login_txt {
	letter-spacing: 3.5px;
    display: inline-block;
}
	
.login_btn {
	display: block;
    padding: 0;
    margin: 0 auto;
    border: 0;
    background: #f35429;
    width: 300px;
    height: 30px;
    color: #fff;
    margin-top: 20px;
}

input {
	width: 230px;
    height: 25px;
}