@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	background:#e6e6e6;
	font-size: 13px;
	font-family: 'Nanum Gothic', serif;
}
.adm_box {
	width:1000px;
	margin:0 auto;
	margin-top: 30px;
}
.adm_tit {
	background:#666;
	color:#fff;
	height: 30px;
	line-height:30px;
	text-align: center;
}
#header {
	background:#fff;
	border:1px solid #999;
	margin:0 auto;
}

#navbar {
	overflow:hidden
}
#navbar ul {
	list-style:none;
	padding:0;
	margin:0 auto;
	
}
#navbar ul li {
	float:left;
	width:33%;
	border-right:1px solid #999;
	height: 60px;
    line-height: 60px;
	text-align: center;
	position: relative;
}
#navbar ul li:nth-child(3) {
	border-right:none;
}

#navbar ul li a {
	text-decoration:none;
	color:#494949;
	padding-left: 20px;
}

#navbar ul li:nth-child(1) img {
	display: inline-block;
    position: absolute;
    left: 37%;
    transform: translate(-50%,102%);
    width: 20px;
    height: 20px;
}

#navbar ul li:nth-child(2) img {
	display: inline-block;
    position: absolute;
    left: 33%;
    transform: translate(-50%,102%);
    width: 20px;
    height: 20px;
}

#navbar ul li:nth-child(3) img {
	display: inline-block;
    position: absolute;
    left: 40%;
    transform: translate(-50%,102%);
    width: 20px;
    height: 20px;
}
	
	
	
	    